* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: white;
}

#game {
  max-width: 800px;
  height: 600px;
  width: 100%;

}

@media (max-width: 600px) {
  body {
    min-width: 0;
  }

  canvas {
    width: 100% !important;
    height: 75% !important;
    margin: 0;
  }
}